body {
    display: grid;
    grid-template-columns: 2fr 20fr 2fr;
    grid-template-rows: 1fr 16fr 1fr;
    height: auto;
    width: auto;
    background-image: url("../images/istockphoto-958446794-1024x1024.jpg")
}

#container {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    background-color: white;
    height: 800px;
    width: auto;
    border: 2px solid black;
}

h1 {
    font-size: 90px;
    text-align: center;
    color: #007AFF;
}

#countdown {
    font-size: 40px;
    text-align: center;
}

#start {
    margin-left: 350px;
    margin-top: 180px;
    background-color: green;
    height: 80px;
    width: 50%;
    color: white;
    font-size: 40px;
    border: 1px white solid;
}

.bodyText {
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}

ul {
    list-style: none
}

li {
    padding: 10px;
    border: 1px black solid;
    width: 800px;
    text-align: center;
    margin: auto;
}

li:hover {
    padding: 10px;
    border: 1px black solid;
    width: 800px;
    text-align: center;
    margin: auto;
    background-color: #84FFFF;
}

.info {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}